# Supabase (paste your values)
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Cardcom(for payment processing)
CARDCOM_TERMINAL_NUMBER='191233'
CARDCOM_API_NAME='ik3T5RvMziXyQoCcCAYT'
CARDCOM_WEBHOOK_URL='https://n8n.srv1173890.hstgr.cloud/webhook/cardcom-credits'


# Green API (you should have these)

GREENAPI_INSTANCE=7105422200
GREENAPI_TOKEN=740b437ffa5f49e4970f80cd44f9a1930ff7d3755fed4d089e

# URLs
APP_URL=https://call4li.com
N8N_WEBHOOK_URL=https://n8n.srv1173890.hstgr.cloud/webhook
NODE_ENV=development
